*{
	font-family: "montserrat", sans-serif;
}

body{
	
	margin-top: 5%;
	width: 900px;
	background-image: url(todo.jpg);
	background-size: cover;
	line-height: 40px;

}

#addItem{
	
	padding: 5px 40px;
	padding-bottom: 10px;
	border-radius: 12px;
	position: center center;

}

#listItem{
	
	padding: 10px;
	border-radius: 12px;
	font-family: cursive;
	color: #ffffff;
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;

}

.animated{

	animation-delay: 1s;

}

#userInput, #ADD, #reset{
	margin-right: 40px;
	margin-left: 40px;
	border-radius: 12px;
}

input, #delete{
	outline: none;
}
